$vert_fonce: #00a600;
$vert_clair: #cdffbf;
body {
    background: #000000;
}
#page {
    max-width: 980px;
    margin: 0 auto;

    ul#menu {
        list-style-type: none;

        li {
            display: inline;
        }
    }

    #container {
        article {
            p {
                a {
                    &.spip_out {
                        color: $vert_fonce;
                    }
                    &.spip_in {
                        color: $vert_fonce;
                    }
                }
            }
        }
    }
}