$vert_fonce: #00a600;
$vert_clair: #cdffbf;
$marge: 0.9375em;

body {
    background: #000000;
}
#page {
    max-width: 980px;
    margin: 0 auto;

    ul#menu {
        list-style-type: none;

        li {
            display: inline;
        }
    }

    #container {
        article {
            background: #212121;
            padding: $marge;

            h2 {
                font-size: 1.5em;
                margin: 0;
                margin-bottom: $marge;
                padding: 0;
            }

            p {
                a {
                    &.spip_out {
                        color: $vert_fonce;
                    }
                    &.spip_in {
                        color: $vert_fonce;
                    }
                }
            }
        }
    }
}