$gris: #212121;
$vert_fonce: #00a600;
$vert_clair: #cdffbf;
$marge: 0.9375em;
$rouge: #a32121;

body {
    background: #000000;
    text-align: left;
}

h2, h2 a, h2 a:focus, h2 a:hover, h2 a:active,
.h2, .h2 a, .h2 a:focus, .h2 a:hover, .h2 a:active {
    color: inherit;
}

#page {
    max-width: 980px;
    margin: 0 auto;

    header {
        h1 {
            a {
                color: $vert_clair;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }


    ul#menu {
        list-style-type: none;

        li {
            display: inline;
        }
    }

    ul {
        list-style: none;
    }

    #proposer {
        float: right;
    }

    #nav {
        .proposer_bouton {
            padding-right: 0;
        }
    }
    #container {
        article {
            background: $gris;
            padding: $marge;
            margin-bottom: $marge;

            h2 {
                font-size: 1.5em;
                margin: 0;
                margin-bottom: $marge;
                padding: 0;
            }

            img {
                margin-bottom: $marge;
                border: 1px solid $vert_clair;

                &.spip_logos {
                    float: none;
                }

                &:hover {
                    border: 1px solid $vert_fonce;
                }
            }

            p {
                a {
                    &.spip_out {
                        color: $vert_fonce;
                    }
                    &.spip_in {
                        color: $vert_fonce;
                    }
                }
            }

            .commentaires-compteur {
                background: transparent url(img/commentaires-compteur-40.png) no-repeat;
                width: 40px;
                height: 40px;
                float: right;

                span {
                    float: right;
                    margin-top: 3px;
                    margin-right: 4px;
                }
            }
        }
    }

    #sidebar {
        background: $gris;
        padding: $marge;

        h2 {
            font-size: 1.3em;
        }
    }

    .formulaire_spip {
        background: $gris;
        border-color: $vert_fonce;
        label {
            font-size: 1.2em;
            color: $vert_fonce;
        }
        .explication {
            color: inherit;
        }
        span.obligatoire {
            color: $rouge;
        }
        fieldset {
            legend {
                background: transparent;
                color: inherit;
            }
        }
        .comment-meta {
            background: transparent;
        }
    }

    #comments {
        .comment-meta {
            background: transparent;
        }
        .comment-titre {
            display: block;
        }
        .vcard {
            display: inline;
            margin: 0;
            padding: 0;
            border: none;
        }
    }
}